<html>
  <head>
    <meta name="viewport" content="width" device-width, initial-scala="1.0">
    <link href='/stylesheets/hoja.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Base de Datos</title>
  </head>
  <body>
    <header class="header">

      <div class="titulo"> 
        <p class="miSitio">
        MI SITIO
        </p>
      </div>

      <nav>
        <ul>
          <li>
            <a href="/movies/create">Crear Movie</a>
          </li>
          <li>
            <a href="/movies">Ver Movie</a>
          </li>
        </ul> 
      </nav>

    </header>

