<html>
  <head>
    <meta name="viewport" content="width" device-width, initial-scala="1.0">
    <link href='/stylesheets/header.css' rel='stylesheet'>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Base de Datos</title>
  </head>
  <body>
    <header class="header">
      <div class="titulo"> 
        <p><a href="/">MI SITIO🎭</a></p>
     </div>
      <nav class="titulo2">
        <ul>
          <li class="titulos3">
            <a href="/movies/create">Crear Movie</a>
          </li>
          <li class="titulos3">
            <a href="/movies">Ver Movie</a>
          </li>
        </ul> 
    </nav>
    <marquee class="marquee">En la película "Up", la casa de Carl se despega de la tierra y se eleva en el aire gracias a 20.622 globos. De acuerdo con los cálculos de los especialistas de Pixar, en la vida real, para poder hacerlo se necesitarían de 20 a 30 millones de globos. Por cierto, en la mayoría de las escenas sólo se ven 10.297.</marquee> 
    </header>

