
<%- include('header.ejs') %> 
    <div>
        <form action="/movies/:id" method="post" target="_blank">

            <p>
          
              Búsqueda de Peliculas: <input type="search" name="busquedapeliculas">
          
              <input type="submit" value="Buscar">
          
            </p>
          
          </form>
   
    </div>
<%- include('footer.ejs') %>
